@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Outfit', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.form-div {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.arrow-right {
    fill: #fff;
}

#get-started-btn:hover .arrow-right {
    fill: black;
}

@media screen and (min-width: 1024px) {
    .form-div {
        border-radius: 30px;
    }
}